Importando pandas

In [1]:
import pandas as pd

Carregando Json

In [11]:
from pandas.io.json import json_normalize
data =[
   {
      "CreateDate":"2021-05-24T20:21:34.79",
      "EmissionDate":"2021-05-24T00:00:00",
      "Discount":0.0,
      "NFeNumber":501,
      "NFeID":1,
      "ItemList":[
         {
            "ProductName":"Rice",
            "Value":35.55,
            "Quantity":2
         },
         {
            "ProductName":"Flour",
            "Value":11.55,
            "Quantity":5
         },
         {
            "ProductName":"Bean",
            "Value":27.15,
            "Quantity":7
         }
      ]
   },
   {
      "CreateDate":"2021-05-24T20:21:34.79",
      "EmissionDate":"2021-05-24T00:00:00",
      "Discount":0.0,
      "NFeNumber":502,
      "NFeID":2,
      "ItemList":[
         {
            "ProductName":"Tomate",
            "Value":12.25,
            "Quantity":10
         },
         {
            "ProductName":"Pasta",
            "Value":7.55,
            "Quantity":5
         }
      ]
   },
   {
      "CreateDate":"2021-05-24T20:21:34.79",
      "EmissionDate":"2021-05-24T00:00:00",
      "Discount":0.0,
      "NFeNumber":503,
      "NFeID":3,
      "ItemList":[
         {
            "ProductName":"Beer",
            "Value":9.00,
            "Quantity":6
         },
         {
            "ProductName":"French fries",
            "Value":10.99,
            "Quantity":2
         },
         {
            "ProductName":"Ice cream",
            "Value":27.15,
            "Quantity":1
         }
      ]
   }
]

Expandir a coluna num mesmo dataframe

In [18]:
df2 = pd.json_normalize(data, meta=['CreateDate','EmissionDate','Discount','NFeNumber','NFeID'], errors='ignore',record_path='ItemList')
df2

    ProductName  Value  Quantity  ... Discount NFeNumber NFeID
0          Rice  35.55         2  ...        0       501     1
1         Flour  11.55         5  ...        0       501     1
2          Bean  27.15         7  ...        0       501     1
3        Tomate  12.25        10  ...        0       502     2
4         Pasta   7.55         5  ...        0       502     2
5          Beer   9.00         6  ...        0       503     3
6  French fries  10.99         2  ...        0       503     3
7     Ice cream  27.15         1  ...        0       503     3

[8 rows x 8 columns]

▼ Normalizar os itens dessa coluna de dicionário e dividí-los em dois dataframes separados, seguindo o modelo relacional

DataFrame (Documentos Nota Fiscal)

In [10]:
nfs = df2[['NFeID','CreateDate','EmissionDate','Discount','NFeNumber']]
display(nfs)

  NFeID              CreateDate         EmissionDate Discount NFeNumber
0     1  2021-05-24T20:21:34.79  2021-05-24T00:00:00        0       501
1     1  2021-05-24T20:21:34.79  2021-05-24T00:00:00        0       501
2     1  2021-05-24T20:21:34.79  2021-05-24T00:00:00        0       501
3     2  2021-05-24T20:21:34.79  2021-05-24T00:00:00        0       502
4     2  2021-05-24T20:21:34.79  2021-05-24T00:00:00        0       502
5     3  2021-05-24T20:21:34.79  2021-05-24T00:00:00        0       503
6     3  2021-05-24T20:21:34.79  2021-05-24T00:00:00        0       503
7     3  2021-05-24T20:21:34.79  2021-05-24T00:00:00        0       503

DataFrame (Intes da Nota Fiscal)

In [24]:
#itens = pd.json_normalize(data,meta=['NFeID'], errors='ignore', record_path='ItemList')
itens = df2[['NFeID','ProductName','Quantity','Value']]
display(itens)

  NFeID   ProductName  Quantity  Value
0     1          Rice         2  35.55
1     1         Flour         5  11.55
2     1          Bean         7  27.15
3     2        Tomate        10  12.25
4     2         Pasta         5   7.55
5     3          Beer         6   9.00
6     3  French fries         2  10.99
7     3     Ice cream         1  27.15